<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">
            <!-- User Menu-->
            <li class="dropdown">
                <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle drop icon-circle drop-image">
                    <span><img class="img-circle " src="/assets/images/avatar-1.png" style="width:40px;"
                            alt="User Image"></span>
                            <span id="user-name" class="header__user"></span>

                </a>
                <ul class="dropdown-menu settings-menu">
                    <li><a href="/auth/logout"><i class="icon-logout"></i> Logout</a></li>
                </ul>
            </li>

            

          
                <li class="treeview">
                    <a class="waves-effect waves-dark" href="/admin">
                        <span> Dashboard</span>
                    </a>
                </li>

                <li class="treeview">
                    <a class="waves-effect waves-dark" href="/admin/sounds">
                        <span>Sounds Statistics</span>
                    </a>
                </li>
              

               
           
        </ul>
    </section>
</aside>
<script src="/js/script.js"></script>
